
//item align 수직 중앙정렬
.about-align{
    min-height: 100vh !important;
    //display: flex;
    //flex-direction: column;
    //align-items: center !important;
    //justify-content: center !important;
}

//아코디언 item - image

.acc-img1, .acc-img2, .acc-img3, .acc-img4 {
  width: 100%;
  height: 50vh;
  background-size: contain;
}
.acc-img1{
    border-radius: 5px; 
    background-image: url('../img/responsibility1.png');
    }
.acc-img2{
    border-radius: 5px; 
    background-image: url('../img/teamspirit.png');
    }
.acc-img3{
    border-radius: 5px; 
    background-image: url('../img/creative.png');
    
    }
.acc-img4{
   
    border-radius: 5px; 
    background-image: url('../img/passion.png');
   
    }


//이미지 위 가상 text    
.img-after::before{
    content:"Responsibility"; 
    display: inline-block; 
    color: white;
    position: absolute;
    font-size:clamp(16px,11vw,38px);
    bottom: 10%;
    left:30%;
    transform:translateX(-50px) ;
}

.img-after1::after{
    content:"Team Spirit"; 
    display: inline-block; 
    color: white;
    position: absolute;
    font-size: clamp(16px,11vw,38px);
    bottom: 10%;
    left:50%;
    transform:translateX(-50px) ;
}
.img-after2::after{
    content:"Creativity"; 
    display: inline-block; 
    color: white;
    position: absolute;
    font-size: clamp(16px,11vw,38px);
    bottom: 10%;
    left:40%;
    transform:translateX(-50px) ;
}
.img-after3::after{
    content:"Passion"; 
    display: inline-block; 
    color: white;
    position: absolute;
    font-size: clamp(16px,11vw,38px);
    bottom: 10%;
    left:45%;
    transform:translateX(-50px) ;}
    
    

//Accordian- 방향 화살표 감추기
.accordion-button::after {
  display: none !important;
  }
.accordion-button{
    padding: 0;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

//Accordian 사이 간격 조정
.mb{margin-bottom: 5vw; font-weight: bold;}

@media (max-width: 767px) {
  .about-align {
    flex-direction: column;
    text-align: center;
  }

 .title{
    margin-left: 20%;

    .line-up, .line-down{display: none;}
    
 }
}
