.topic {
  color:white;
  font-size: clamp(16px,2.7vw,48px);
  font-weight: 700;
  text-align: center;
  
}

.topic-en{
  font-size:clamp(16px,2.7vw,48px);
  font-weight: 800;
  text-align: center;
  line-height: 10vh;
}