
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  font-family: 'Pretendard', sans-serif;
}

body{ background: radial-gradient(circle, #ffffff, #a7a7a7);}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  font-family: 'Pretendard', sans-serif;
}

body{ background: radial-gradient(circle, #ffffff, #a7a7a7); overflow-x: hidden;}

